<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/graphs.js') }}"></script>

</head>
<body>
    <div id="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
<!-- <div class="footer-container">
    <p>hello plz</p>
</div> -->
</html>